In [3]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.externals import joblib
import time
from sklearn.decomposition import TruncatedSVD
from sklearn.model_selection import train_test_split


import warnings
warnings.simplefilter("ignore", category=DeprecationWarning)

In [2]:
pruebas = pd.read_csv('properati_dataset_modificado.csv')

In [28]:
sup_min = 9
sup_max = 150

lat_min = -35
lat_max = -34

lon_min = -59
lon_max = -58

precio_min = 5000
precio_max = 1000000

propiedades = pruebas
p = propiedades.loc[  (propiedades.superficie >= sup_max) | (propiedades.superficie <= sup_min) |\
                      (propiedades.lat >= lat_max) | (propiedades.lat <= lat_min) |\
                       (propiedades.lon >= lon_max) | (propiedades.lon <= lon_min),:]

columnas = ['superficie','lat', 'lon']

In [29]:
p.loc[:,columnas].describe()

         superficie          lat          lon
count  4.170000e+03  4170.000000  4170.000000
mean   1.144530e+03   -34.667977   -58.460659
std    5.027828e+04     0.347734     0.320623
min    1.000000e+00   -38.416097   -63.616672
25%    1.670000e+02   -34.756526   -58.632980
50%    2.245681e+02   -34.646625   -58.459830
75%    3.200000e+02   -34.598624   -58.381905
max    3.243242e+06   -29.424917   -57.558500

In [30]:
p.loc[:,columnas].count()

superficie    4170
lat           4170
lon           4170
dtype: int64

## Hay 4000 propiedades con datos "malos" en las pruebas a analizar

## Quizas por eso tenemos muy malos resultados

In [31]:
sup = propiedades.loc[  (propiedades.superficie >= sup_max) | (propiedades.superficie <= sup_min),:]
lat = propiedades.loc[  (propiedades.lat >= lat_max) | (propiedades.lat <= lat_min) ,:]
lon = propiedades.loc[  (propiedades.lon >= lon_max) | (propiedades.lon <= lon_min),:]

columnas = ['superficie','lat', 'lon']

In [32]:
s = sup.loc[:,'id'].count()
l = lat.loc[:,'id'].count()
lo = lon.loc[:,'id'].count()

In [33]:
print("Mal superficie   {}\nMal Latitud   {}\nMal longitud   {}".format(s,l,lo))

Mal superficie   3677
Mal Latitud   70
Mal longitud   637

### El principal problema es la superficie

In [37]:
sup.loc[:,['property_type','superficie','surface_total_in_m2','surface_covered_in_m2']].sample(10)

      property_type  superficie  surface_total_in_m2  surface_covered_in_m2
13157         house       260.0                260.0                  130.0
11590     apartment       289.0                289.0                  270.0
2081          house       419.0                419.0                   70.0
10286         house       340.0                340.0                  195.0
4727          house       583.0                583.0                  583.0
10951            PH       176.0                176.0                  176.0
8590      apartment       295.0                295.0                  280.0
825           house       160.0                  NaN                  160.0
963           house       300.0                  NaN                  300.0
7348          house       170.0                  NaN                  170.0