In [18]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
propiedades = pd.read_csv('Desktop/properati.csv')

In [20]:
#Elimino columnas innecesarias
propiedades.drop(['id', 'geonames_id', 'lat-lon', 'properati_url', 'description', 'title', 'image_thumbnail'], axis = 1, inplace = True)
propiedades.head(2)

,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
0,2012-09-19,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,NaN,NaN,120000.0,USD,2117340.0,120000.0,333.0,93.0,360.36036,1290.322581,NaN,NaN,NaN
1,2012-10-22,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,NaN,NaN,220000.0,USD,3881790.0,220000.0,220.0,220.0,1000.00000,1000.000000,NaN,NaN,NaN

In [21]:
propiedades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187482 entries, 0 to 187481
Data columns (total 20 columns):
created_on                    187482 non-null object
operation                     187482 non-null object
property_type                 187482 non-null object
place_name                    187447 non-null object
place_with_parent_names       187482 non-null object
country_name                  187482 non-null object
state_name                    187482 non-null object
lat                           118761 non-null float64
lon                           118761 non-null float64
price                         154443 non-null float64
currency                      154441 non-null object
price_aprox_local_currency    154443 non-null float64
price_aprox_usd               154443 non-null float64
surface_total_in_m2           125027 non-null float64
surface_covered_in_m2         152420 non-null float64
price_usd_per_m2              105024 non-null float64
price_per_m2                  131665 non-null float64
floor                         14294 non-null float64
rooms                         80320 non-null float64
expenses                      17520 non-null float64
dtypes: float64(12), object(8)
memory usage: 28.6+ MB

In [29]:
#Elimino los registros que no sean de Capital Federal o Gran Buenos Aires
capital = propiedades ['state_name'] == 'Capital Federal'
gba = propiedades ['state_name'].str.contains('Bs.As. G.B.A.')
propiedades = propiedades [capital | gba]

In [33]:
#Compruebo que solo haya capital y gba
propiedades.groupby('state_name').agg(np.size)['operation']

state_name
Bs.As. G.B.A. Zona Norte    39888
Bs.As. G.B.A. Zona Oeste    22571
Bs.As. G.B.A. Zona Sur      18135
Capital Federal             44152
Name: operation, dtype: int64