In [1]:
import pandas as pd
import numpy as np

In [2]:
lista_prop = ["properati-AR-2013-08-01-properties-sell.csv", "properati-AR-2013-09-01-properties-sell.csv",\
              "properati-AR-2013-10-01-properties-sell.csv", "properati-AR-2013-11-01-properties-sell.csv",\
              "properati-AR-2013-12-01-properties-sell.csv", "properati-AR-2014-01-01-properties-sell.csv",\
              "properati-AR-2014-02-01-properties-sell.csv", "properati-AR-2014-03-01-properties-sell.csv",\
              "properati-AR-2014-04-01-properties-sell.csv", "properati-AR-2014-05-01-properties-sell.csv",\
              "properati-AR-2014-06-01-properties-sell.csv", "properati-AR-2014-07-01-properties-sell.csv",\
              "properati-AR-2014-08-01-properties-sell.csv", "properati-AR-2014-09-01-properties-sell.csv",\
              "properati-AR-2014-10-01-properties-sell.csv", "properati-AR-2014-11-01-properties-sell.csv",\
              "properati-AR-2014-12-01-properties-sell.csv", "properati-AR-2015-01-01-properties-sell.csv",\
              "properati-AR-2015-02-01-properties-sell.csv", "properati-AR-2015-03-01-properties-sell.csv",\
              "properati-AR-2015-04-01-properties-sell.csv", "properati-AR-2015-05-01-properties-sell.csv",\
              "properati-AR-2015-06-01-properties-sell.csv", "properati-AR-2015-07-01-properties-sell.csv",\
              "properati-AR-2015-08-01-properties-sell.csv", "properati-AR-2015-09-01-properties-sell.csv",\
              "properati-AR-2015-10-01-properties-sell.csv", "properati-AR-2015-11-01-properties-sell.csv",\
              "properati-AR-2015-12-01-properties-sell.csv", "properati-AR-2016-01-01-properties-sell.csv",\
              "properati-AR-2016-02-01-properties-sell.csv", "properati-AR-2016-03-01-properties-sell.csv",\
              "properati-AR-2016-04-01-properties-sell.csv", "properati-AR-2016-05-01-properties-sell.csv",\
              "properati-AR-2016-06-01-properties-sell.csv", "properati-AR-2016-07-01-properties-sell.csv",\
              "properati-AR-2016-08-01-properties-sell.csv", "properati-AR-2016-09-01-properties-sell.csv",\
              "properati-AR-2016-10-01-properties-sell.csv", "properati-AR-2016-11-01-properties-sell.csv",\
              "properati-AR-2016-12-01-properties-sell.csv", "properati-AR-2017-01-01-properties-sell.csv",\
              "properati-AR-2017-02-01-properties-sell.csv", "properati-AR-2017-03-01-properties-sell.csv",\
              "properati-AR-2017-04-01-properties-sell.csv", "properati-AR-2017-05-01-properties-sell.csv",\
              "properati-AR-2017-06-01-properties-sell.csv", "properati-AR-2017-06-06-properties-sell.csv",\
              "properati-AR-2017-07-03-properties-sell.csv"]
lista_fechas = ["2013-07-01", "2013-08-01", "2013-09-01", "2013-10-01", "2013-11-01", "2013-12-01",\
                "2014-01-01", "2014-02-01", "2014-03-01", "2014-04-01", "2014-05-01", "2014-06-01",\
                "2014-07-01", "2014-08-01", "2014-09-01", "2014-10-01", "2014-11-01", "2014-12-01",\
                "2015-01-01", "2015-02-01", "2015-03-01", "2015-04-01", "2015-05-01", "2015-06-01",\
                "2015-07-01", "2015-08-01", "2015-09-01", "2015-10-01", "2015-11-01", "2015-12-01",\
                "2016-01-01", "2016-02-01", "2016-03-01", "2016-04-01", "2016-05-01", "2016-06-01",\
                "2016-07-01", "2016-08-01", "2016-09-01", "2016-10-01", "2016-11-01", "2016-12-01",\
                "2017-01-01", "2017-02-01", "2017-03-01", "2017-04-01", "2017-05-01", "2017-05-06",\
                "2017-06-03"]

In [3]:
def fecha(i):
    return lista_fechas[i]

In [4]:
def obtener_estado(cadena):
    return cadena.split('|')[2]

In [28]:
propiedades = None
for x in range(41,len(lista_prop)):
    auxiliar = pd.read_csv(lista_prop[x])
    auxiliar.loc[:,'state_name'] = auxiliar.loc[:,'place_with_parent_names'].apply(obtener_estado)
    auxiliar = auxiliar.loc[auxiliar.state_name.str.contains('Bs.As. G.B.A.|Capital Federal'),:]
    auxiliar.loc[:,'fecha_de_publicacion'] = fecha(x)
    propiedades = pd.concat([propiedades, auxiliar], ignore_index=True)
    print(x)
    
#tiro error diciendo que no tiene el indice 'surface_in_m2'
#se queja de estar reemplazando un dataframe por otro
#creo que al hacer el concat tengo que guardar el resultado (osea no es inplace)

41
42
43
44
45
46
47
48

In [29]:
propiedades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508345 entries, 0 to 508344
Data columns (total 28 columns):
id                            508345 non-null object
created_on                    508345 non-null object
operation                     508345 non-null object
property_type                 508345 non-null object
place_name                    508271 non-null object
place_with_parent_names       508345 non-null object
country_name                  508345 non-null object
state_name                    508345 non-null object
geonames_id                   400170 non-null float64
lat-lon                       400179 non-null object
lat                           400179 non-null float64
lon                           400179 non-null float64
price                         443132 non-null float64
currency                      441306 non-null object
price_aprox_local_currency    443132 non-null float64
price_aprox_usd               443132 non-null float64
surface_total_in_m2           389235 non-null float64
surface_covered_in_m2         458584 non-null float64
price_usd_per_m2              321455 non-null float64
price_per_m2                  400331 non-null float64
floor                         59871 non-null float64
rooms                         311843 non-null float64
expenses                      54196 non-null float64
properati_url                 508345 non-null object
description                   508317 non-null object
title                         508345 non-null object
image_thumbnail               500679 non-null object
fecha_de_publicacion          508345 non-null object
dtypes: float64(13), object(15)
memory usage: 108.6+ MB

In [30]:
propiedades.drop(['id','operation', 'geonames_id','lat-lon', 'properati_url', 'image_thumbnail', 'description', 'title'], axis = 1, inplace = True)
propiedades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508345 entries, 0 to 508344
Data columns (total 20 columns):
created_on                    508345 non-null object
property_type                 508345 non-null object
place_name                    508271 non-null object
place_with_parent_names       508345 non-null object
country_name                  508345 non-null object
state_name                    508345 non-null object
lat                           400179 non-null float64
lon                           400179 non-null float64
price                         443132 non-null float64
currency                      441306 non-null object
price_aprox_local_currency    443132 non-null float64
price_aprox_usd               443132 non-null float64
surface_total_in_m2           389235 non-null float64
surface_covered_in_m2         458584 non-null float64
price_usd_per_m2              321455 non-null float64
price_per_m2                  400331 non-null float64
floor                         59871 non-null float64
rooms                         311843 non-null float64
expenses                      54196 non-null float64
fecha_de_publicacion          508345 non-null object
dtypes: float64(12), object(8)
memory usage: 77.6+ MB

In [31]:
propiedades.to_csv('archivo5.csv')

In [22]:
len(lista_prop)

49

In [32]:
prop = None
for i in range (1,6):
    aux = pd.read_csv("archivo" + str(i) + ".csv")
    prop = pd.concat([prop, aux], ignore_index=True)
    print (i)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1
2

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

3
4
5

In [36]:
prop.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [37]:
prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455309 entries, 0 to 2455308
Data columns (total 21 columns):
country_name                  object
created_on                    object
currency                      object
expenses                      object
fecha_de_publicacion          object
floor                         float64
lat                           float64
lon                           float64
place_name                    object
place_with_parent_names       object
price                         float64
price_aprox_local_currency    float64
price_aprox_usd               float64
price_per_m2                  float64
price_usd_per_m2              float64
property_type                 object
rooms                         float64
state_name                    object
surface_covered_in_m2         float64
surface_in_m2                 float64
surface_total_in_m2           float64
dtypes: float64(12), object(9)
memory usage: 393.4+ MB

In [38]:
prop.to_csv('properati.csv')

In [35]:
prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455309 entries, 0 to 2455308
Data columns (total 22 columns):
Unnamed: 0                    int64
country_name                  object
created_on                    object
currency                      object
expenses                      object
fecha_de_publicacion          object
floor                         float64
lat                           float64
lon                           float64
place_name                    object
place_with_parent_names       object
price                         float64
price_aprox_local_currency    float64
price_aprox_usd               float64
price_per_m2                  float64
price_usd_per_m2              float64
property_type                 object
rooms                         float64
state_name                    object
surface_covered_in_m2         float64
surface_in_m2                 float64
surface_total_in_m2           float64
dtypes: float64(12), int64(1), object(9)
memory usage: 412.1+ MB