In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.externals import joblib
import time

import warnings
warnings.simplefilter("ignore", category=DeprecationWarning)

In [2]:
a1 = pd.read_csv('algoritmos/Decision_tree_Cross_Validation.csv')
a2 = pd.read_csv('resultados/lightgbm_latlon_resultados.csv')
a3 = pd.read_csv('resultados/Extra_trees_2.csv')
a4 = pd.read_csv('resultados/Decision_tree_Cross_Validation_fechas.csv')
a5 = pd.read_csv('resultados/Decision_tree_Cross_Validation_menos_datos.csv')
a6 = pd.read_csv('resultados/Decision_tree_GridSearch_menosDatos.csv')
a7 = pd.read_csv('resultados/Bagging_Regresor_resultados.csv')
a8 = pd.read_csv('resultados/KNN_standard_scaler_resultados.csv')
a9 = pd.read_csv('resultados/Lightgbm_GridSearch.csv')
a10 = pd.read_csv('resultados/Bagging_Regressor_GridSearch.csv')

In [5]:
a = [a1,a2,a3,a4,a5,a6,a7,a8,a9,a10]

In [11]:
analizar = pd.read_csv("../properati_dataset_modificado.csv")

In [16]:
res = analizar.loc[:,['id','price_usd']]
res.loc[:,'price_usd'] = 0.0

In [18]:
for x in a:
    res.loc[:,'price_usd'] = res.loc[:,'price_usd'] + x.loc[:,'price_usd']
res.loc[:,'price_usd'] = res.loc[:,'price_usd'] / len(a)

In [20]:
res.describe()

                 id     price_usd
count  1.416600e+04  1.416600e+04
mean   2.285382e+06  2.255481e+05
std    4.290968e+04  2.322223e+05
min    3.632000e+03  4.169945e+04
25%    2.271809e+06  1.098478e+05
50%    2.290284e+06  1.608363e+05
75%    2.309395e+06  2.645763e+05
max    2.332338e+06  1.423876e+07

In [22]:
res.to_csv('promedios_10_mejores_archivos.csv', index = False)

In [23]:
a = [a1,a2,a3,a8,a9]
res = analizar.loc[:,['id','price_usd']]
res.loc[:,'price_usd'] = 0.0

for x in a:
    res.loc[:,'price_usd'] = res.loc[:,'price_usd'] + x.loc[:,'price_usd']
res.loc[:,'price_usd'] = res.loc[:,'price_usd'] / len(a)

res.describe()

                 id     price_usd
count  1.416600e+04  1.416600e+04
mean   2.285382e+06  2.347397e+05
std    4.290968e+04  2.292220e+05
min    3.632000e+03  3.631376e+04
25%    2.271809e+06  1.102087e+05
50%    2.290284e+06  1.606478e+05
75%    2.309395e+06  2.791678e+05
max    2.332338e+06  9.543407e+06

In [24]:
res.to_csv('promedios_5_mejores_archivos.csv', index = False)

In [3]:
a1.describe()

                 id     price_usd
count  1.416600e+04  1.416600e+04
mean   2.285382e+06  2.359991e+05
std    4.290968e+04  3.412248e+05
min    3.632000e+03  2.412983e+04
25%    2.271809e+06  1.068681e+05
50%    2.290284e+06  1.591631e+05
75%    2.309395e+06  2.664039e+05
max    2.332338e+06  2.855247e+07